# Fichiers compilés
__pycache__/
*.py[cod]

# Environnements virtuels
env/
venv/

# Logs et fichiers temporaires
*.log
*.tmp

# Données locales / secrets
config.yaml
secrets.json

# IDE / éditeur
.vscode/
.idea/
